@import url('https://fonts.googleapis.com/css?family=Staatliches');

.mainContainer {
    background-color: #39261f;
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.mainTitleContainer {
    font-family: Staatliches;
    font-size: 50px;
    margin-top: 2px;
    margin-left: 15px;
    color: #fabf2e;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

.aTitleContainer {
    text-decoration: none;
    color: inherit;
}

.badgeContainer {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 9px;
    margin-top: 9px;
}

.logoutContainer {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: white;
    right: 0;
    top: 0;
    margin-top: 23px;
    margin-right: 75px;
}

.worldContainer {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: -41px;
}

.emailContainer {
    position: absolute;
    right: 0;
    margin-right: 152px;
    top: 0;
    margin-top: 23px;
    font-size: 20px;
    color: white;
}

.loginContainer {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: white;
    right: 0;
    top: 0;
    margin-top: 23px;
    margin-right: 30px;
}
