@font-face {
  font-family: "dimbo";
  src: local("dimbo"), url(../../public/fonts/dimbo.ttf);
}

@font-face {
  font-family: "inter";
  src: local("inter"), url(../../public/fonts/inter.ttf);
}

body {
  margin: 0;
  background-color: #d4cdb4;
}

.mainPageContainer {
  text-align: center;
  margin-top: 150px;
}

.mainPageImage {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  object-fit: cover;
  height: 270px;
  width: 100%;
  margin-top: -100px;
}

.mainPageSpiderWeb {
  width: 220px;
  position: absolute;
  top: -5px;
  left: -5px;
  margin-top: 60px;
}

.mainPageSpider {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  transform: rotate(-10deg);
}

.mainPageToGameDiv {
  position: fixed;
  right: 15px;
  bottom: -5px;
  z-index: 2;
}

.mainPageToGameButton {
  width: 230px;
  cursor: pointer;
  margin-right: 10px;
}

.mainPageTitle {
  font-family: dimbo;
  font-size: 55px;
  z-index: 1000;
  color: white;
  text-shadow: -3.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -3.5px 3.5px 0 #000,
    1.5px 3.5px 0 #000;
}

.mainPageDescContainer {
  max-width: 1050px;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: auto;
  font-family: dimbo;
  font-size: 32px;
  color: #24150f;
  margin-top: -15px;
}

.mainPageDesc {
  margin-left: 30px;
  margin-right: 30px;
}

.mainPageButtonsContainer {
  display: flex;
  justify-content: center;
  gap: -10px;
}

.mainPageButton {
  background-color: transparent;
  width: 170px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 1;
}
